/* h1{
    font-family: 'Chivo', sans-serif;
    color: rgb(19, 20, 20);
}
h3{
    font-family: 'Chivo', sans-serif;
    color: rgb(167, 20, 49);
}
.form-control{
    border:none;
    border-bottom:2px solid black;
    box-shadow:none !important;
    border-radius: 0px;
    background-color: rgb(229, 241, 240);
}
.form-control:focus{
    border-bottom: 1px solid black;
}
.card{
    
    border-radius: 10px;
    background-color: rgb(229, 241, 240);
    box-shadow: 4px 2px 2px black;
}
#bt{
    display: block;
    margin: auto;
} */

/* h1{
    font-family: 'Merriweather Sans', sans-serif;
}
.navbar-brand{
    margin-left: 45px;
}
.navbar{
    background-color: black;
}
.navbar-nav{
    font-size: 23px;
    margin-right: 50px;
    font-family: 'Didact Gothic', sans-serif;
}
.active{
    font-weight: bold;
    background-color: rgb(46, 187, 41);
    border-radius: 15px;
    padding-top: 5px;
} */

/* .nav-link{
    font-size: 40px;
    font-weight: bold;
    padding-top: 5px 20px;
    color: rgb(228, 238, 240);
    font-family: 'Merriweather Sans', sans-serif;
    font-family: 'Philosopher', sans-serif;
    background-color: black;

} */

.navbar{
    background-color: black;
}

.navbar-brand{
    margin-left: 50px;
    color: white;
    font-size: 30px;
    font-family: 'Merriweather Sans', sans-serif;
}
.nav-link{
    font-size: 20px;
    font-family: 'Merriweather Sans', sans-serif;
    font-family: 'Philosopher', sans-serif;
    color: white;
    margin-right: 20px;
}
.active{
    font-weight: bold;
    background-color: rgb(46, 187, 41);
    border-radius: 15px;
    padding-top: 5px;
}